/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
    height: 100vh;
    display:grid;
    grid-template-rows: auto 1fr auto;
    font-family: 'Roboto', sans-serif;
    gap: 10px;
    grid-template-areas: "nav"
                         "main"
                         "footer";
}

header {
    grid-row: 1;
    height: 5.5em;
    grid-area: nav;
}

footer{
    height: 2em;
    width: 100%;
    grid-row: 3;
    background-color: #566069;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: footer;
}



/* EMPIEZO EL NAV */
nav {
    position: relative;
    grid-column: 1/3 ;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 15fr 1fr 1fr; /* 13 unidades  7 columnas */
    background-color:  #566069;
    height: 5.5em;
    align-items: center;
    justify-items: center;
}

nav div img {
    border: 0.5pt solid white;
    border-radius: 10%;
    width: 5em;
    height: 5em;
}
nav div a{
    color:white;
    text-decoration: none;
    font-size: 1rem;
}

.busq{
    display: grid;
    grid-template-columns: 75%  25%;
    gap: 10px;
    align-items: center;
}
.cuadrado{
    display: grid;
    grid-template-columns: 1fr 9fr;
    gap:1px;
    background-color: white;
    align-items: center;
    border-radius: 10px;
}
.busq div input[type="text"]{
    border-radius: 10px;
    height: 3em;
    font-size: large;
    border-style: none;
    color: #566069;
}
.busq div input[type="text"]:focus{
    outline: none;
}
.cuadrado span{
    font-size: xx-large;
    color: #566069;
}
.buscar{
    height: 4em;
    width: 9em;
    border-radius: 10px;
    border-style: none;
    background-color: #69859D ;
}
.buscar a{
    font-family: 'Roboto' sans-serif;
    font-size: 1rem;
    font-weight: bold;

}

/*ACABO EL NAV*/

@media screen and (max-width: 1024px) {
    body {
        grid-template-areas: "nav"
                             "main"
                             "footer";
    }
}